*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';  
}
@keyframes transitionIn{
    from{ 
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
section{
    padding-top: 50px;
}
#top{
    min-height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/coffeeon8th.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    animation: transitionIn 0.75s;
}

#top h1{
    color: white;
    
}
.navbar{
    border-bottom: 1px solid rgb(41, 40, 40);
}
.navbar .navbar-nav .nav-link{
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-link:hover {
    color: #7E5109;
}

/*mid image*/

#main-mid{
    animation: transitionIn 0.75s;
    display: flex;
}
#main-mid img{
    width: 50%;
}
#main-mid h1{
    float: right;
    margin-right: 5%;
    margin-top: 15%;
    font-size: 25px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button{
    position: absolute;
    background: black;
    float: right;
    top: 175%;
    left: 70%;
    display: flex;

}
#main-bttm{
    animation: transitionIn 0.75s;
    display: flex;
}
#main-bttm img{
    width: 50%;
    float: left;
}
#main-bttm h1{
    float: right;
    margin-right: 5%;
    margin-top: 15%;
    font-size: 25px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#main-bttm a{
    color: black;
    font-size: 20px;
}
/*--------------------------------------------------MENU------------------------------------------------------*/
#menutop{
    min-height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/pourmilkcoffee.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    animation: transitionIn 0.75s;
}

#menutop h1{
    color: white;
    animation: transitionIn 0.75s;
}

/*--------------------------------------------------OUR COMPANY------------------------------------------------------*/
#cotop{
    min-height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/caferegister.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    animation: transitionIn 0.75s;
}
#cotop h1{
    color: white;
    animation: transitionIn 0.75s;
}

/*--------------------------------------------------CAREERS------------------------------------------------------*/
#careerstop{
    min-height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/barista.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    animation: transitionIn 0.75s;
}

#careerstop h1{
    color: white;
    animation: transitionIn 0.75s;
}